
body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0.5rem 0.5rem 0.5rem 0;
    color:  darkred;
}

.the-container {

  background-color: yellow;

  container-name:   the-container;
  container-type:   inline-size;

  resize:           horizontal;
  overflow:         auto;
  border:           1px solid #ccc;
  padding:          1rem;
}

.child {

  display:        flex;
  flex-direction: column;
}

.mode_column {
  display: block; /* default value */
}

.mode_row {
  display: none;
}

/* Container Query */
@container the-container ( width > 60ch ) {

  /*
   * The following rules will become effective when
   * the container's width is greater than 60ch.
   */

  .child {
    flex-direction: row;
  }

  .mode_column {
    display: none;
  }

  .mode_row {
    display: block;
  }

  h2 {
    color: darkgreen;
  }
}
