
body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0.5rem 0.5rem 0.5rem 0;
    color:  darkred;
}

.explanation {
    margin: 2rem 0;
}

/*
 * The W3C Validator for CSS does not yet support the new container queries.
 * Further, html5validator (which is used in .github/workflows/validate-html.yml)
 * does also not support the new container queries (so an exemption rule was added
 * to .github/workflows/validate-html.yml).
 *
 * According to caniuse.com, the container queries are supported by all major browsers
 * (Chrome, Edge, Firefox, Opera, Safari) since 2023:
 * * https://caniuse.com/?search=container-name
 * * https://caniuse.com/?search=container-type
 * * https://caniuse.com/?search=%40container
 */

.the-container {

  background-color: yellow;

  container-name:   the-container;
  container-type:   inline-size;

  resize:           horizontal; /* allows resizing the container by end user */
  overflow:         auto;
  border:           1px solid #ccc;
  padding:          1rem;
}

.flex-container {

  display:        flex;
  flex-direction: column; /* default value for narrow containers */
}

.mode_column {
  display: block; /* default value */
}

.mode_row {
  display: none;
}

/* Container Query */
@container the-container ( width > 60ch ) {

  .flex-container {
    flex-direction: row; /* row-wise alignment of child items for wide containers */
  }

  .mode_column {
    display: none;
  }

  .mode_row {
    display: block;
  }

  h2 {
    color: darkgreen;
  }
}
