
/* Grid Layout with one column */
body {
    font-family        : sans-serif;

    display            : grid;
    grid-template-areas: "title"
                         "content"
                         "aside-one"
                         "aside-two";
    gap                : 1rem;
    width              : calc( 100% - 2rem );
    max-width          : 80rem;
    margin             : 0 auto;
}

h1 {
    grid-area    : title;
    margin-top   : 1em;
    margin-bottom: 1em;
    text-align   : center;
}

article {
    grid-area       : content;
    background-color: #f2f8f7;
    border-top      : 4px solid #287a72;
    border-radius   : 6px;
    box-shadow      : 0 2px 8px #00000014;
    line-height     : 1.6;
    margin          : 0;
    padding         : 1.5em;
}

article h2 {
    color     : #205f59;
    margin-top: 0;
}

aside {
    margin          : 0;
    background-color: #f0f0f0;
    padding         : 1em;
    border-left     : 4px solid #ccc;
}

aside#sidebar-one {
    grid-area: aside-one;
}

aside#sidebar-two {
    grid-area: aside-two;
}


@media ( min-width: 48rem ) {
    body {
        grid-template-columns: minmax( 0, 2fr ) minmax( 14rem, 1fr );
        grid-template-areas:
            "title title"
            "content aside-one"
            "aside-two aside-two";
    }
}

@media (min-width: 76rem) {
    body {
        grid-template-columns: minmax( 12rem, 1fr ) minmax( 0, 2fr ) minmax( 12rem, 1fr );
        grid-template-areas:
            "title title title"
            "aside-one content aside-two";
    }
}
