
body {
    font-family: sans-serif;
    background :  aqua;
}

h1 {
    background    : yellow;
    text-align    : center;
    padding-top   : 5px;
    padding-bottom: 5px;
}


/* This tile layout works only if all tiles have the same height. */

/* Rules that always apply to tiles (i.e. regardless of the media query result). */
.tile {
    background-color: orange;
    box-sizing      : border-box;   /* Switch to the new box model. */
    margin-left     : 1%;           /* Outer spacing */
    margin-bottom   : 1%;
    padding         : 1%;           /* Inner spacing on all four sides. */
    float           : left;
}


/*
 * Viewport width >= 801px: Four tiles per row.
 * 5 gaps of 1% => 95% remain for the tiles.
 */
@media screen and ( min-width: 801px ) {

    .tile {
        width: 23.75%;  /* = 95%/4 */
    }
}


/*
 * 601px <= viewport width <= 800px: Three tiles per row.
 * 4 gaps of 1% => 96% remain for the tiles.
 */
@media screen and ( min-width: 601px ) and ( max-width: 800px ) {

    .tile {
        width: 32%;    /* = 96%/3 */
    }
}


/*
 * 401px <= viewport width <= 600px: Two tiles per row.
 * 3 gaps of 1% => 97% remain for the tiles.
 */
@media screen and ( min-width: 401px ) and (max-width: 600px) {

    .tile {
        width: 48.5%;    /* = 97%/2 */
    }
}


/*
 * Viewport width <= 400px: One tile per row.
 * 2 gaps of 1% => 98% remain for the tile.
 */
@media screen and ( max-width: 400px ) {

    .tile {
        width: 98%;
    }
}